body {
    width: 100%;
    height: 100%;
    background-image:url('https://imgs.vietnamnet.vn/Images/2017/05/14/23/20170514235408-samsung-flip-phone.jpg');
    /* background-repeat:no-repeat; */
}

.dana {
    text-align: center;
}
.container-fluid {
    background-color: #2f3640;
}

#title {
    color: white;
}

.address {
    text-align: center;
}

#search {
    display: flex;
}

.navbar {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
<<<<<<< HEAD
    color: #f5f6fa;
    padding: 1% ;
    padding-bottom: 2% ;
}
=======
    color: #ff3838;
}



.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .logo{
    padding-left: 40px;
  height: 190px;}
   
  .dana{
    color: red;
  }
    
  
  
  .header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .header__logo-container {
    width: 200px;
  }
  
  .header__logo {
    width: 100%;
    height: auto;
  }
  
  .header__menu {
    display: flex;
  }
  
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .header__nav-list {
    list-style: none;
    display: flex;
  }
  
  .header__nav-item {
    margin-left: 1.5rem;
  }
  
  .header__nav-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .img {
    padding-right: 1%;
  }
  /* 
   */
  
  
  
  body {
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #0aad69;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0 !important;
  
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-left: 24px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  
  .search{
    margin-top: 12px;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column { 
      width: 100%;
      height: auto;
    }
  }
  
  .content img{
    width: 100%;
    padding-top: 0;
  }
  .content{
    padding-top: 0;
  }
  
>>>>>>> 0487de4cbffd5c6f49330b9ab4633836a6f501f7
